* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}
button, label { -webkit-tap-highlight-color: rgba(0,0,0,0); }
main {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: hsl(222, 26%, 31%);
    font-size: 16px;
    overflow-x: hidden;
}
.class-margin{
    margin: 10px 0;
}
/*ZONA ALTA*/

#article-1 {
    display: flex;
    flex-direction: column;
    width: 410px;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#header__theme-section{
    display: flex;
    align-items: center;
    font-size: .7em;
    color: #fff;
}
#header__flex-box{
    height: 100%;
    display: flex;
    align-items: center;
}
#header__title{
    color: #fff;
    padding-top: 12.5px;
    padding-left: 5px;
}

#theme-text {
    position: relative;
    color: #fff;
    top: .5em;
    right: 1em;
}

.selectorControl {
    display: flex;
    position: relative;
    color: white;
    padding: 2px;
}

.selectorControl .label {
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    --backgroundColor: hsl(223, 31%, 20%);
}

.selectorControl .label:after {
    content: '';
    display: block;
    height: 23px;
    width: 23px;
    background-color: var(--backgroundColor);
}

.selectorControl .label:nth-child(1):after {
    border-radius: 50% 0 0 50%;
    -webkit-border-radius: 50% 0 0 50%;
    -moz-border-radius: 50% 0 0 50%;
    -ms-border-radius: 50% 0 0 50%;
    -o-border-radius: 50% 0 0 50%;
}

.selectorControl .label:nth-child(3):after {
    border-radius: 0 50% 50% 0;
    -webkit-border-radius: 0 50% 50% 0;
    -moz-border-radius: 0 50% 50% 0;
    -ms-border-radius: 0 50% 50% 0;
    -o-border-radius: 0 50% 50% 0;
}


.selectorControl .input {
    display: none;
}

.selectorControl .bola {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: hsl(6, 63%, 50%);
    position: absolute;
    bottom: 4.5px;
    transition: all 0.4s;
}

#select1:checked~.bola {
    transform: translateX(3px);
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
}

#select2:checked~.bola {
    transform: translateX(27px);
    -webkit-transform: translateX(27px);
    -moz-transform: translateX(27px);
    -ms-transform: translateX(27px);
    -o-transform: translateX(27px);
}
#select2:checked~.blue {
    background: #fff;
}

#select3:checked~.bola {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
}

/*ZONA MEDIA*/

#screen{
    color: #fff;
    background: hsl(224, 36%, 15%);
    padding: 30px 15px;
    text-align: right;
    font-size: 2.5em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-height: 96.667px;
    max-height: 96.667px;
    overflow-y: hidden;
    overflow-x:auto;
}
#screen::-webkit-scrollbar {
    background: transparent;
    height: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: #7772;
    border-radius: 20px;
  }
/*ZONA BAJA*/

#panel{
    padding: 25px;
    background: hsl(223, 31%, 20%);
    display: grid;
    grid-template-columns: repeat(4,minmax(70px,90px));
    grid-template-rows: repeat(5,minmax(30px,50px));
    justify-content: space-evenly;
    gap: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#panel .button{
    background: hsl(30, 25%, 89%);
    color: #444b5a;
    border: none;
    outline: none;
    border-bottom: 3px solid hsl(29, 16%, 65%);
    display: grid;
    justify-content: center;
    padding-top: 15%;
    font-size: 2em;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#panel .button:hover{
    cursor: pointer;
}

#panel .different{
    padding-top: 9%;
    font-size: 1.5em;
    color: #fff;
}
#panel #btn-del{
    padding-top: 18%;
}
#panel .blue{
    background: hsl(225, 21%, 49%);
    border-bottom: 3px solid hsl(224, 28%, 35%);
}

#panel #btn-reset{
    grid-column: 1/3;
}

#panel #btn-equals{
    grid-column: 3/5;
    background: hsl(6, 63%, 50%);
    border-bottom: 3px solid hsl(6, 70%, 34%);
}


/*RESPONSIVE DESIGN*/

@media screen and (max-width: 420px){
    #article-1{
        width: 90%;
    }
    #panel{
        gap: 10px;
        grid-template-columns: repeat(4,minmax(50px,90px));
        grid-template-rows: repeat(5,minmax(40px,60px));
    }
    #panel .button{
        padding-top: .7em;
        font-size: 1.7em;
    }
    #panel .different{
        font-size: 1.3em;
        padding-top: 1em;
    }
    #panel #btn-del{
        padding-top: 1em;
    }
    .selectorControl .bola {
        bottom: 6px;
    }
}